.SystemName p{
    color: #fff;
}
.individual {
    display: flex;
    color: #fff;
    margin-bottom: 10px;
}
.individual p {
    margin: 0;
}
.headImg {
    margin-left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: url('../../assets/img/1.jpg');
    background-size: cover;
}

.rightCon {
    margin-left: 20px;
    font-size: 12px;
}
.individual .welcome {
    color: #ccc;
    margin-top: 2px;
}
.individual .name {
    margin-top: 5px;
}
.tip p{
    color: #fff;
    margin: 0;
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
}
.user_info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: rgb(14, 54, 200);    
}
.user_name {
    margin-right: 20px;
}
.user_logout {
    display: inline-block;
    cursor: pointer;
}